* {
  margin: 0;
  padding: 0;
}

.header--style {
  margin: 10px 50px;
  padding: 0px 20px;
  background-color: #9995;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main--style {
  text-align: center;
  margin: 50px;
}
